            * {
                margin: 0;
                padding: 0;
            }
            html, body {
                height:100%;
            }
            body {
                min-height:100%;
                display:flex;
                flex-direction:column;
                background-image: url("../images/rocketlaunch.jpg");
                
            }
            .wrapper {
                flex:1;
            }
            .main-header {
                background-color: #CCC;
                height: 100px;
                width: 70%;
                padding: 5px 15%;
            }
            .main-header h1 {
                line-height: 60px;
                color: darkorange;
            }
            .footer {
                height: 75px;
                background-color: #CCC;
            }

            
            .footer-contact li{
                display: inline;
                font-size: 10px;
                font-family: Arial, Helvetica, sans-serif;
                padding: 10px 20px 0px 0;
                float: right;
            }

            li.number{
                padding: 30px 20px 0px 0;
            }

            span.logo {
                color: white;
            }

            span.logo img{
                height: 100px;
                float: left;
            }
            .copyright {
                color: blue;
                font-weight: bold;
                width: 100%;
                text-align: center;
                padding: 15px 0;
            }
            .box-shadow {
                box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -webkit-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -moz-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
                -o-box-shadow: inset 0px 0px 50px 0px #ABABAB, 1px 1px 5px 1px #242424;
            }
            .content-top {
                height: 180px;
                background-color: #CCC;
                margin: 10px 0;
            }
            
            .content-bottom {
                
                width: 70%;
                max-width: 980px;
                position: relative;
                margin: 0 auto;
            }
            .sidebar {
                float: left;
                background-color: #f1f1f1;
                width: 15%;
                height: 500px;
                opacity: 0.85;
            }
           
            .sidebar-links {
                background-color: #f1f1f1;
                list-style-type: none;
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
               border-top-left-radius: 20px;
            }
            .sidebar-links li {
                width: 100%;
                height: 50px;
                border: 1px solid #CCC;
                border-top: 1px solid #FFF;
            }
            .sidebar-links a {
                display: block;
                padding: 7px;
                text-decoration: none;
                transition-duration: 0.7s;
                height:35px;
            }
            .sidebar-links a:hover {
                background-color:dodgerblue;
                color: peachpuff;
            }
		





        section.one-column{
                margin-top: 30px;
        }
        
        article.main-content-column{
            width:100%;
            padding:0px;
            background-color: transparent;
        }
         
        
		* {
			margin: 0px;
			padding:0;
			/* height: 70px; */
			}
			.main-header {
				background-color: lightyellow;
				height:100px;
				width:100%;
				padding: 5px 0px;
				}
				
			
			
			.footer {
				position:absolute;
				bottom: 0;
				right:0;
				left:0;
				height:75px;
				background-color:lightyellow;
				}
			
                .header-quote{
                  padding-top: 25px;
                  font-size: 20px;
                  
                }

			.logo {
				color:white;
				}
			
			.copyright {
				color:white;
				width:100%;
				text-align:center;
				padding:15px 0;
				}
			
			.box-shadow {
				box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-webkit-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-moz-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
				-o-box-shadow: inset 0px 0px 65px 0px #080707,5px 5px 5px 1px #242424;
                
				}
			
			.content-top {
				width:100%;
				height:180px;
				background-color:#CCC;
				margin:10px 0px;
				}
			
		
			
		
			
		
			content-bottom {
				position:relative;
				}
			
			
			
			.main-content {
				float:right;
				background-color: white;
				width:81%;
				height:500px;
				padding:0% 2% 0% 2%;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
				

            h1.course-heading{
                font-size: 25px;
                text-align: center;
                color: white;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }

        

    p.copyright{
        
        color: black;
        line-height: 1px;
}

section.three-column {
    overflow: auto;
    margin-top:30px;
    height: 100%;
}

aside.sidebar three-column {
    width:15%;
}

aside.sidebar.three-column{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

article.three-column-content{
    width:61%;
    position: absolute;
    left:15%;
    float: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

	
div.contact-form {
                padding: 20px;
                width: 200px;
                height:250px;
                
                margin: 20px auto 0;
               
            }

div.contact-form p{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.contact-form label{
                color: black;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
            
input.contact-input {
                width:100%;
                padding:5px, 2px;
                border-radius: 5px;
                margin:7px 0;
                height: 20px;

            }
input.contact-comment{
                width:100%;
                padding:5px, 2px;
                border-radius: 5px;
                margin:7px 0;
                height: 75px;
}

h1.h1contact{
                margin-bottom:15px;
            }

input#submit.contact {
     height: 30px;
    background: lightsteelblue;
    font-weight: bolder;
    width: 50px;
    border-radius: 10px;
}

.gallery h1 {
    margin: 30px 0 15px 350px;
    font-size: 30px;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
			}
			
.gallery ul {
	list-style-type:none;
	text-align:center;
	margin-top:20px;
			}
			
.gallery li {
	margin-right:10px;
    
	display:inline;	
			}
			
.gallery img{
	width:150px;
	height:125px;
			}

.item-description{
    font-size: 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indianred;
}

.item-title{
    font-size: 14px;
    padding-right: 45px;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: darkorange;
}

